.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem
}

.pedido {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: .5rem;
    min-width: 300px;
}

.pizza, .bebida {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.item {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.btn {
    background-color: #FF5757;
    cursor: pointer;
    padding: .1rem;
    text-align: center;
}

.line {
    border: 0; 
    height: 1px;
    background-color: #333; 
}

.total {
    background-color: white;
    padding: 1.5rem;
    border-radius: .5rem;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}